body
{
	margin: 0;
	background-color: #26282E;
	color: #209781;
    font-family: 'Lobster', sans-serif;
    font-size: 28px;
    padding: 0px;
}

a:link    { color: #209781; text-decoration: none; }
a:visited { color: #209781; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

h1
{
    font-size: 64px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    letter-spacing: 5px;
    margin-bottom: 0px;
}

p
{
    text-align: center;
    margin: 10px;
    letter-spacing: 2px;
    margin-bottom: 25px;  
}
.board
{
    background-image: url(img/elsa2.jpg);
    width: 450px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.card
{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 1px;
    margin-top: -7px;
    background-image: url("img/karta.png");
    background-size: 50px 50px;
    border: 1px solid #209781;
    border-radius: 4px;
    cursor: pointer;
    padding: 0px;
    filter: brightness(60%);
    transition: all .3s ease-in-out;
}
.card:hover
{
    border: 1px solid #e9b46a;
    filter: brightness(100%);
}
.cardA
{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 1px;
    margin-top: 1px;
    background-image: url("img/karta.png");
    background-size: 50px 50px;
    border: 1px solid #e9b64a;
    margin-top: -7px;
    border-radius: 4px;
    filter: brightness(100%);
    transition: all .3s ease-in-out;
}
.score
{
    margin: 20px;
    letter-spacing: 2px;
}

.emotic {
    width: 100px;
    height: 160px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    margin-top: -7px;
    border: 1px solid #209781;
    border-radius: 4px;
    cursor: pointer;
}

.level {
    width: 150px;
    float: left;
    display: block;
}
#info{
    height: 350px;
    width: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-left: 180px;
}



